<h3>Вас выбрали исполнителем задания <%= link_to @post_name, post_url(@post_url) %> </h3>
 <p><%= @post_user_name %> выбрал Вас исполнителем, как можно быстрее перезвоните ему(ей) по телефону <%= @post_phone %> <p>