<h2>TaskMe Нашел Вам исполнителя</h2>
<p><%= @responce_user_name %> готов выполнить задание <%= link_to @responce_post_name, post_url(@responce.post) %> за <%= @responce_price %> тенге <p>
	<p>Перейдите по ссылке выше, чтобы просмотреть все предложение и выбрать лучшего исполнителя.</p>