<% provide(:title, 'Подать заявку чтобы стать исполнителем') %>
<% if signed_in? %>
    <aside class="span4">
     <section>
<div class="verification-rules">
  <h1>Правила</h1>
  <p>Выполнять задания на TaskME могут только исполнители, которые прошли процедуру верификации. Для этого не требуется приезжать в офис, весь процесс проходит онлайн и является бесплатным. Верификация занимает всего 10–20 минут, а уже на следующий день мы оповестим вас о своем решении.</p>
  <p>Верификация позволяет повысить доверие заказчиков, которые приходят на YouDo решать свои задачи. Мы разработали систему тестирования, которая помогает отбирать ответственных и адекватных исполнителей. Мы анулируем статус исполнителя, если пользователь получает более 3-х отрицательных отзывов. В настоящее время исполнителями YouDo могут стать только граждане России и Республики Беларусь.</p>
  <p>Верификацию можно пройти только один раз. Если вы уже получили отказ, вы не сможете повторно пройти проверку. Мы оставляем за собой право отказать в присвоении статуса исполнителя без объяснения причин.</p>
  </div>
<%= render 'verifications/verification_form' %>
      </section>
    </aside>
<% else %>
   <h4>Зарегистрируйтесь чтобы подать заявку в исполнители</h4>
   Пожалуйста 
    <%= link_to 'зарегистрируйтесь', new_user_registration_path %>, регистрация займет у Вас несколько секунд,
    или уже с нами? Тогда <%= link_to 'войдите', user_session_path %> !
<% end %>