
<span class="activity-time"><%= time_ago_in_words(activity.created_at) %> назад.</span>
<div class="notification-info">
	<p>
		Задание которые вы выполняли помечено как выполенно 
	</p>
	 «<%= link_to activity.trackable.name, activity.trackable %>»
</div>