<p>Привет <%= @resource.email %>!</p>

<p>Кто то запросил изменение пароля к вашему аккаунту. Вы можете изменить пароль кликнув по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы не запрашивали изменение пароля просто проигнорируете это письмо</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не кликните по ссылке Выше, или поменяете пароль в личном кабинете.</p>
<p>С безграничной любовь Ваш TaskMe</p>
